VITE_PHARMANP_API_BASE_URL=https://pharmanp.pratikbhujel.com.np
VITE_PHARMANP_APP_BASE_URL=https://pharmanp.pratikbhujel.com.np
VITE_PHARMANP_MEDIA_BASE_URL=https://pharmanp.pratikbhujel.com.np/storage
VITE_PHARMANP_STANDALONE=true
VITE_PHARMANP_AUTH_MODE=token
VITE_PHARMANP_API_TOKEN=
VITE_PHARMANP_ENV=development
VITE_PHARMANP_USE_PROXY=false
VITE_PHARMANP_NTFY_SERVER_URL=
VITE_PHARMANP_NTFY_TOPIC=
